@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

body{
  font-family:"Work Sans";
  padding-top: 5rem;
}
.header{ // you can also nest sass.
  h1{ //this will turn into .header h1 {} when concatenated. 
    color:$purple;
    max-width: 800px;
    display:block;
    margin: 0 auto;
    font-size: 5rem;
  }
}
p {
  line-height: 1.5;
}